<%= form_with model: @category do |f| %>
  <div class="category-post-area mb-3">
    <%= f.label 'カテゴリ', class: 'form-label fw-bold' %>
    <li><%= f.text_field :title, class: 'container-fluid' %></li>
  </div>
  <div class="todos-post-area mb-3">
    <%= f.label 'ToDo', class: 'form-label fw-bold' %>
    <%= f.fields_for :todos do |t| %>
      <div class="row my-2">
        <div class="col-8">
          <%= t.text_field :content, class: 'container-fluid' %>
        </div>
        <div class="col-4">
          <%= t.select :status, @statuses, selected: '' %>
        </div>
      </div>

    <% end %>
  </div>
  <%= f.submit '投稿', class: "btn btn-primary" %>
<% end %>