<h1>Categories_index</h1>

<div class="container">
  <div class="border my-3 p-2">
    <p class="lead">ユーザーエリア(demo)</p>
    <div>
      ・ユーザー名: <%= current_user.name if signed_in? %><br>
      ・<%= link_to('ユーザー編集', edit_user_path(current_user)) if user_signed_in? %><br>
      ・<%= link_to('ログアウト', logout_path, method: :delete) if user_signed_in? %><br>
      ・残カテゴリ数: <%= @active_category_count %><br>
      ・達成カテゴリ数: <%= "#{@all_category_count - @active_category_count} / #{@all_category_count}" %><br>
    </div>
  </div>
  <div class="row gx-2">
    <div class="col-5 border p-3">
      <p class="lead">投稿エリア</p>
      <%= render 'post-form' %>
    </div>

    <div class="col-7 border p-3">
      <p class="lead">indexエリア</p>
      <%= paginate @categories, theme: 'bootstrap-5' %>
      <% @categories.each do |category| %>
        <div class="todo-list-area border p-2 my-2">
          <div class="category-title-area d-flex justify-content-between">
            <p class="fw-bold"><%= category.title %></p>
            <%= link_to '完了', category_path(category.id), method: :delete, class: "btn btn-outline-danger",
                data: { confirm: "カテゴリ「#{category.title}」を完了します。よろしいですか？" } %>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ToDo</th>
                <th scope="col">ステータス</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% category.todos.active.each do |todo| %>
                <tr>
                  <td><%= todo.content %></td>
                  <td><%= todo.status_text %></td>
                  <td><%= link_to '完了', category_todo_path(todo.category.id, todo.id), method: :delete, class: "btn btn-outline-danger",
                      data: { confirm: "ToDo「#{todo.content}」を完了します。よろしいですか？" } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="new-todo-area">
            <%= form_with model: [category, @add_todo] do |f| %>
              <div class="row my-2">
                <div class="col-7">
                  <%= f.text_field :content, class: 'container-fluid' %>
                </div>
                <div class="col-3">
                  <%= f.select :status, @statuses, selected: '' %>
                </div>
                <div class="col-2">
                  <%= f.submit '追加', class: "btn btn-outline-primary mt-2" %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="edit-category-area">
            <%= link_to '編集', edit_category_path(category.id), class: "btn btn-outline-secondary mt-2" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>